*{
    margin: 0px;
    padding: 0%;
}
body{
    margin: 50px;
    background-color: blueviolet;
}
header{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border: 4px white solid;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 175, 2);
    color: white;
}
nav{
    margin-top: 45px;
    padding: 20px;
    border: 4px black solid;
    background-color: white;
    width: 75%;
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 20px;
}

div{
    margin-top: 100px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}
section{
    background-color: brown;
    border: 5px white solid;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-grow: 1;
    height: 500px;
}
.s1{
    width: 30%;
    align-items: center;
}

.hs-1{
    margin-top: 10px;
    width: 90%;
    height: 10%;
    
}
article{
    background-color: rgb(47, 221, 221);
    border: 4px white solid;
    margin: 5px;
    margin-top: 20px;
    width: 90%;
    height: 105%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

header{
    height: 15%;
    margin-top: 10px;
    width: 95%;
}
p{
    background-color: orange;
    border: 4px white solid;
    margin-top: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 15%;
}
.p1{
    width: 95%;
}

.div-2{
    margin: 0;
    display: flex;
    width: 100%;
    margin-top: 15px;
    height: 25px;
    align-items: flex-start;
    border: 20px;
}
.p2{
    margin-left: 14px;
    flex-grow: 2;
    margin-top: 5px;
    height: 25px;
}

aside{
    background-color: white;
    border: 3px black solid;
    height: 25px;
    margin-top: 5px;
    flex-grow: 1;
    margin-right: 14px;
}

footer{
    margin-top: 20px;
    width: 90%;
    background-color: white;
    border: 2px black solid;
    margin-top: 45px;
    height: 35px;
}
.s2 nav{
    height: 70%;
    margin: 15px;
    margin-bottom: 45px;
}
.s2 header{
    height: 10%;
    width: 84%;
    margin: 15px;
}

.f2{
    width: 95%;
    background-color: white;
    border: 2px black solid;
    height: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}